docs/
data/

venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
outputs/
build/
*.py[cod]
*.egg-info/
.venv
checkpoints/
result/
finetune_data/
logs/

# 編譯的二進制文件
*.so
*.o
*.a
